/********** Template CSS **********/
:root {
    --primary: #1363C6;
    --secondary: #157da3;
    --light: #F4F7FE;
    --dark: #14183E;
    --smoke: rgb(248, 167, 16);
}

/*** Formulario hoja de ruta ***/
form[name=hojaruta] h1, form[name=hojaruta] p {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

form[name=hojaruta] .tittle {
    display: flex;
    align-items: center;
    justify-content: center;
}

form[name=hojaruta] img {
    width: 200px;
}

form[name=hojaruta] .body ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

form[name=hojaruta] .body ul li {
    display: grid;
    grid-template-columns: 200px 400px;
    align-items: center;
}

form[name=hojaruta] .body ul li p{
    padding-right: 20px;
}

form[name=hojaruta] .body button {
    margin-top: 50px;
    font-weight: 500;
    color: #fafafa;
    background-color: #333;
    border: solid 3px #777;
    padding: 10px 30px;
    border-radius: 50px;
}